/**
 * User: xiyifen
 * Date: 2017/8/20
 * Time: 11:31
 */
/*导航主体*/
.nav-side{
    float:left;
    width: 130px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color:#888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/*内容区*/
.content.whth-nav{
    float: left;
    width:950px;
}